<div class="container">

    <div class="links">
        <span><a routerLink="/login" routerLinkActive="active">Login</a></span>
        <span><a routerLink="/register" routerLinkActive="active">Register</a></span>
        <span><a routerLink="/product/list" routerLinkActive="active">Product List</a></span>
        <span><a routerLink="/product/create" routerLinkActive="active">Create a Product</a></span>
    </div>
</div>
<hr>
<div class="container">
    <!-- <button type="button" class="btn btn-secondary">Secondary</button> -->

    <router-outlet></router-outlet>
</div>